#filters {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style: none;
	margin: 0 0 40px;
	li {
		margin-right: 10px;
	}
}

#portfolio {
	margin-bottom: 1.5em;
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 20px;
	row-gap: 20px;
	// flex-direction: row;
	// flex-wrap: wrap;
	// justify-content: space-around;
	max-width: 100%;

	@media screen and (min-width: 500px) and (max-width: 767px) {
		grid-template-columns: 1fr 1fr;
	}

	@media screen and (min-width: 768px) and (max-width: 1299px) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@media screen and (min-width: 1300px) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	
	.portfolio-item {
		border: $border__portfolio-img $color__portfolio-border;
		// margin: 0 0 20px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;

		transform: scale(0);
		transition: all 350ms ease;

		a.portfolio-item-link {
			border-bottom: 5px solid $color__portfolio-border;
		}

		h2 {
			align-self: center;
			justify-self: center;
			text-align: center;
			line-height: 1.1;
			margin: 0;
			padding: 10px;
		}
		.post-thumbnail {
			width: 100%;
			height: 100%;

			img {
				height: 100%;
				object-fit: cover;
	
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}

	.scale-anm {
		transform: scale(1);
	}
}

.single-portfolio {
	article {
		display: flex;
		flex-wrap: wrap;
		
		.entry-header {
			flex-basis: 100%;
			flex-shrink: 0;
		}
		
		.post-thumbnail {
			flex-basis: 100%;
			flex-grow: 1;
			
			@media screen and (min-width: 48.5625em) {
				flex-basis: 70%;
				padding-right: 40px;
			}
			
			img {
				border: $border__portfolio-img $color__portfolio-border;
			}
		}
		.entry-content { 
			margin-top: 0;
			flex-basis: 20%;
			flex-grow: 1;
		}
	}
}

.project-type {
	display: inline-block;
	border: 1px solid;
	border-radius: 4px;
	color: #fff;
	line-height: 1;
	padding: .4em .5em;

	&:visited {
		color: #fff;
	}
}

.project-type, #filters li button {
	margin-bottom: 5px;
	
	&.child-theme {
		border-color: $color__portfolio-child;
		background-color: $color__portfolio-child;
	}
	&.custom-theme {
		border-color: $color__portfolio-custom;
		background-color: $color__portfolio-custom;
	}
	&.collaboration {
		border-color: $color__portfolio-collab;
		background-color: $color__portfolio-collab;
	}
	&.custom-code {
		border-color: $color__portfolio-code;
		background-color: $color__portfolio-code;
	}
	&.plugins {
		border-color: $color__portfolio-plugins;
		background-color: $color__portfolio-plugins;
	}
	&.storytelling-modules {
		border-color: $color__portfolio-stm;
		background-color: $color__portfolio-stm;
	}
}

