html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	border-top: 4px #01B5B8 solid;
}

hr {
	/*background-color: $color__background-hr;*/
	border: 0;
	border-top: 1px #ccc dotted;
	/*height: 1px;*/
	margin: 1.5em 0;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";

#cta {
	text-align: center;
	font-size: 1.8em;
	font-weight: 300;
	
	.button a {
		margin-left: 10px;
	}
}

