$color__main: #01B5B8;

$color__background-body: #fff;
$color__background-box: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__main;
$color__background-button-hover: #017274;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__main;
$color__link-visited: $color__main;
$color__link-hover: #017274;
$color__text-main: #595959;
$color__text-heading: #016365;

$color__border-button: $color__main;
$color__border-button-hover: #017274;
$color__border-button-focus: #017274;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__portfolio-custom: #424874; /*#7BCDBA; #61E294; #C41590;*/
$color__portfolio-child: #45B69C; /*#09CF9A;*/
$color__portfolio-collab: #9799CA; /*#0998CF;*/
$color__portfolio-code: #92374D; /*#7293A0;*/ /*#09C55E;*/
$color__portfolio-plugins: #125E8A;
$color__portfolio-stm: #DE6B48; // #504358;

$color__portfolio-border: #eee;
$border__portfolio-img: 10px solid; /* I know this doesn't go here! */

/*7BCDBA pearl aqua */